.container-fluid {
  max-width: 48px;
  margin-right: inherit;
  margin-left: unset;
  height: 100pc;
  margin-top: -3.5pc;
}
.bg-light {
  background-color: white;
  width: 90%;
  margin-left: auto;
  border-radius: 0px 30px;
}
.opcoes{
  margin-top: -97pc;
  margin-left: 48px;
}
.navbar-expand-lg .navbar-collapse {
  margin-left: 25%;
}
.cursos{
  width: 80%;
  margin: initial;
  margin-top: 10pc;

}
.card-img {
  max-width: 70%;
}
.text-primary{
  margin-left: 5%;
}
.text-right{
  margin-right: 18%;
}
.mb-3, .my-3{
  border-radius: 30px;
}
.dropdown, .dropleft, .dropright, .dropup {
  text-align: end;
}
.dropdown-toggle{
  background-color:#463fdc;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  box-shadow: 9px 10px 10px #2125294d;
  border-radius: 26px;
}
