.container-fluid {
  width: 5%;
  margin-right: inherit;
  margin-left: unset;
  height: 100pc;
  margin-top: -4.0pc;
}
.fa-2x{
  color: #4633FF;
}
.bg-light {
  background-color: white;
  width: 75%;
  margin-left: auto;
  border-radius: 0px 30px;
}
.opcoes{
  margin-top: -97pc;
  margin-left: 5%;
}
.navbar-expand-lg .navbar-collapse {
  margin-left: 25%;
}
.criar-curso{
  background-color: white;
  border-radius: 15px;
  width: 80%;
  margin: initial;
  margin-top: 10pc;
  
}
.text-primary{
  margin-left: 5%;
  color: #4633FF !important;
}
.text-left{
  margin-left: 5%;
  margin-top: 5%;
}
.form-controlCurso{
  margin: auto;
  width: 85%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.form-control{
  margin: auto;
  width: 100%;
  margin-bottom: 5%;
}

.form-controlBox{
  margin: auto;
  width: 90%;
  margin-bottom: 0%;
}

.form-RadiosBox{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100;
  margin-bottom: 3%;
}

.questoes{
  margin-left: 5%;
}
.textarea {
  width: 100%;
  border-radius: 10px;
}
.fa-2x {
  font-size: 2em;
  color: #4633FF !important;
  margin-left: 5%;
}
.flex-nowrap{
  margin-top: 5%;
  margin-left: 5%;
}
.btn-group{
  margin-bottom: 1%;
  width: 90%;
}