  <div class="ranking">
   <div id="titles">
      <h5 class="text"><a class="text" routerLink="/painel-gestor"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;Ranking</h5>
      <h4>Questionário: Estruturas de dados em Java</h4>
    </div>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Posicao</th>
          <th scope="col">Nome</th>
          <th scope="col">Acertos</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark&nbsp;<i class="fa fa-trophy" aria-hidden="true" id="ouro"></i></td>
          <td>15</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>João&nbsp;<i class="fa fa-trophy" id="prata"></i></td>
          <td>12</td>
          <td>02/05/2019</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird&nbsp;
          <a class="bronze"><i class="fa fa-trophy" id="bronze"></i></a></td>
          <td>8</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Tiringa</td>
          <td>8</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Lopim</td>
          <td>7</td>
          <td>10/05/2019</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Charles</td>
          <td>6</td>
          <td>10/05/2019</td>
        </tr>
      </tbody>
    </table>
  </div>
  