<style>
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .left-flex {
        width: 20%;
        height: 100%;
    }

    .center-flex {
        width: 78%;
        height: 100%;
    }
</style>

<div class="flex">

    <div class="left-flex">
        <app-menu></app-menu>
    </div>

    <div class="center-flex">
        <app-upbar></app-upbar>
        <router-outlet></router-outlet>
    </div>

</div>