<h1 style="text-align: center; margin-top: 5%; color: white;"> Cadastro</h1>
<div class="card-group" style="width: 50%; margin: auto;">
  <div class="card" style="border-radius: 15%;">
    <img src="../../assets/iconProf.png" class="imagem" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Professor</h5>
      <p class="card-text">Cadastre-se como um professor.</p>
    </div>
    <div class="card-footer" style="margin: auto;">
      <small class="text-muted"></small>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalScrollable">Cadastrar</button>
    </div>
  </div>
  <div class="card" style="border-radius: 15%;">
    <img src="../../assets/icontStud.png" class="imagem" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Aluno</h5>
      <p class="card-text">Cadastre-se como um aluno.</p>
    </div>
    <div class="card-footer" style="margin: auto;">
      <small class="text-muted"></small>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalScrollable">Cadastrar</button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Cadastre-se</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <h6>Ultilizando: </h6>
        <button style="width: 100%; background-color: #4285f4; color: white;" type="button" class="btn">Google</button>
        <p></p>
        <button style="width: 100%; background-color: #003f87; color: white;" type="button" class="btn">Microsolft</button>
        <p>Ou</p>
        <button style="width: 100%; background-color: #66bf39; color: white;" type="button" class="btn btn-primary">Email</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
